/*index page specific*/

.information {
    display: flex;
    flex-flow: column;
    border: 1px solid #fcba03;
}

.user-form {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.user-form > * {
    margin: 5px 0 0 0;
}

.user-icon {
    width: 55px;
}

.user-text {
    color: rgb(128, 128, 128);
}

.text-input {
    border: 1px solid rgb(203, 203, 203);
    border-radius: 25px;
    background: transparent;
    font-size: 14px;
    color: rgb(128, 128, 128);
    margin: 10px 0 0 0;
    padding: 5px;
}

_::-webkit-full-page-media, _:future, :root .text-input {
    margin: 10px 0 0 0;
}

.generic-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.generic-button > img {
    width: 35px;
}

.generic-button:hover {
    transform: scale(1.1);
}

.content-a {

}

.content-b {
    background: rgb(203, 203, 203);
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.content-b {
    height: 500px;
}

@media screen and (max-width: 888px) {

}
