/*Weather Icons*/

.element {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    margin: 4px;
}

.white {
    fill: #FFFFFF
}

.gray {
    fill: #E0E0E0
}

.yellow {
    fill: #FFEB3B
}
